<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login - Smart Finance Tracker</title>
</head>
<body>
    <h2 style="color: darkgreen;">{{message_logout}}</h2>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <form id="login-form" method="post" action="{{ url_for('logged') }}">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="passward" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </main>
    <footer>
        <p>&copy; 2023 FinWise</p>
    </footer>
</body>
</html>
